.baner
    flex-basis: 100%
    flex-grow: 1
    height: $baner-height-mobile
    background-image: url("../img/laptop500portrait.jpg")
    background-repeat: no-repeat
    background-size: cover
    