.burger
    position: fixed
    top: 2vh
    left: 2vh
    width: 12vw
    height: 10vw
    background-color: red
    cursor: pointer
    span
        position: absolute
        height: 2vw
        width: 100%
        background-color: #fff
    &__spn1
        top: 0
    &__spn2
        top: calc(50% - 1vw)
    &__spn3
        bottom: 0
.burger.active
    