@mixin sentenceWord
    flex-grow: 1
    flex-basis: 45%
@mixin sentenceWordHorizontal
    flex-grow: 1
    flex-basis: 30%

=navTabletPortrait
    @media screen and  (min-width: 768px) and (orientation: portrait)
        .nav
            height: $nav-height-tablet
            font-size: 4rem
            &__title
                line-height: $nav-height-tablet
        .active .nav__title
            margin-left: 0
            transform: translate(-20%, 5vh) scale(1.5)

=navMobileHorizontal
    @media screen and (orientation: landscape)
        .nav
            height: $nav-height-mobile-horizontal
            font-size: 3rem
            &__title
                line-height: $nav-height-mobile-horizontal
            &__logo
                &__img
                    margin-left: 50%
        .active .nav
            &__title
                margin-left: 2%
                transform: scale(1.2)
=navTabletLandscape
    @media screen and (min-width: 768px) and (orientation: landscape)   
        .nav
            height: $nav-height-tablet-horizontal   
            &__title
                line-height: $nav-height-tablet-horizontal 
        .active .nav__title
            margin-left: 0
            transform: translate(-20%, 7vh) scale(1.5)
    @media screen and (min-width: 1024px)
        .nav
            font-size: 4rem
        .active .nav__title
            transform: translate(-30%, 7vh) scale(1.5)
    @media screen and (min-width: 1280px)
        .nav
            font-size: 5rem
        
=burgerTabletPortrait
    @media screen and (min-width: 768px) and (orientation: portrait) 
        .burger
            top: 1.5vh
            left: 1vh
            width: calc(#{$nav-height-tablet}/2 + 2vh)
            height: calc(#{$nav-height-tablet}/2)         
=burgerMobileHorizontal
    @media screen and (orientation: landscape)
        .burger
            top: 2vh
            left: 2vh
            width: calc(#{$nav-height-mobile-horizontal}/2 + 2vh)
            height: calc(#{$nav-height-mobile-horizontal}/2)
=burgerTabletLandscape
    @media screen and (min-width: 768px) and (orientation: landscape)
        .burger
            top: 2vh
            left: 2vh
            width: calc(#{$nav-height-tablet-horizontal}/2 + 2vh)
            height: calc(#{$nav-height-tablet-horizontal}/2)
=banerTabletPortrait
    @media screen and (min-width: 768px) and (orientation: portrait) 
        .baner
            &__img
                background-image: url("../img/laptop1000portrait.jpg")
                @keyframes banerMove
                    0%
                        margin-top: 0
                    100%
                        margin-top: $nav-height-tablet
                        height: $baner-height-tablet
            &__sentence
                left: 40vw
                width: 55vw
                height: 55vw
                font-size: 6rem
                &__words 
                    &__word2
                        transform: translate(-50%, 110%)
                    &__word3
                        font-size: 7rem
                        text-align: left
                    &__word4
                        font-size: 9rem
                        text-align: center
                &__about
                    span
                        height: 4vh
                        width: 4vh
                        line-height: 4vh
                    span.active 
                        animation: about 0.7s .5s linear both
                        @keyframes about
                            0%
                            50%
                                opacity: 1
                            75%
                                width: 15vh
                                opacity: 1
                                border-radius: 3vh
                                font-size: 0
                            100%
                                font-size: 2rem
                                width: 15vh
                                opacity: 1
                                border-radius: 3vh
=banerMobileHorizontal
    @media screen and (orientation: landscape)
        .baner
            &__img
                background-image: url("../img/laptop1024landscape.jpg")
                @keyframes banerMove
                    0%
                        margin-top: 0
                    100%
                        margin-top: $nav-height-mobile-horizontal
                        height: $baner-height-mobile-horizontal
            &__sentence
                left: 20vw
                top: 30vh
                height: 25vw
                &__words
                    &__word1
                        transform: translateX(-100%)
                    &__word2
                        transform: translate(2%, 58%)
                    &__word3
                        padding-right: 2%
                        transform: translateY(-100%)
                    &__word4
                        text-align: right
                        transform: translateY(100%)
                    &__word5
                        transform: translate(0, -50%)
                    &__word6
                        transform: translateX(100%)
                    div
                        @include sentenceWordHorizontal
                        
                &__about
                    span
                        height: 3rem
                        width: 3rem
                        line-height: 3rem
                        border-radius: 5vh
                        letter-spacing: 1px
                    span.active 
                        animation: about 0.7s .5s ease-out both
                        @keyframes about
                            0%
                                width: 10vh
                            50%
                                opacity: 1
                                font-size: 0
                                width: 15vh
                            75%
                                width: 20vh
                                opacity: 1
                                font-size: .8rem 
                            100%
                                font-size: 1.6rem
                                width: 20vw
                                opacity: 1
=banerTabletLandscape
    @media screen and (min-width: 768px) and (orientation: landscape)
        .baner
            &__img
                @keyframes banerMove
                    0%
                        margin-top: 0
                    100%
                        margin-top: $nav-height-tablet-horizontal
                        height: $baner-height-tablet-horizontal
            &__sentence
                top: 25vh
                left: 17vw
                height: 30vw
                font-size: 4rem
                &__words
                    &__word2
                        transform: translate(2%, 62%)
                    &__word3
                        font-size: 5rem
                    &__word4
                        font-size: 6rem
                &__about
                    span
                        height: 6vh
                        width: 6vh
                        line-height: 6vh
                        border-radius: 5vh
                        letter-spacing: 1px
                    span.active 
                        animation: about 0.7s .5s ease-out both
                        @keyframes about
                            0%
                                width: 6vh
                            50%
                                opacity: 1
                                font-size: 0
                                width: 10vh
                            75%
                                width: 15vh
                                opacity: 1
                                font-size: 1rem 
                            100%
                                font-size: 2rem
                                width: 15vw
                                opacity: 1
=banerDesktop
    @media screen and (min-width: 1024px)
        .baner
            &__img
                 background-image: url("../img/laptop1920landscape.jpg")
                 @keyframes banerMove
                    0%
                        margin-top: 0
                        border-radius: 0
                    75%
                        border-radius: 20px
                    100%
                        margin: $nav-height-tablet-horizontal 2vw 2vw
                        height: calc(#{$baner-height-tablet-horizontal} - 2vw)
                        width: 96vw
                        border-radius: 20px
            &__sentence
                top: 30vh
                left: 30vw
                height: 30vw
                width: 65vw
                font-size: 6rem
                &__words
                    &__word2
                        transform: translate(0, 59%)
                    &__word3
                        font-size: 7rem
                    &__word4
                        font-size: 8rem
    @media screen and (min-width: 1280px)
        .baner
            &__sentence
                top: 40vh
                height: 40vh
                font-size: 10rem
                &__words
                    &__word2
                        transform: translate(0, 60%)
                    &__word3
                        font-size: 11rem
                    &__word4
                        font-size: 12rem
=menuTabletPortrait
    @media screen and (min-width: 768px) and (orientation: portrait) 
        .menu
            width: 50vw
            font-size: 5rem    
            &__copy
                div
                    margin: auto auto auto 20%                       
=menuMobileHorizontal
    @media screen and (orientation: landscape)
        .menu
            width: 60vw
            font-size: 3.5rem
            &__copy
                div
                    margin: auto auto auto 20%
=menuTabletLandscape
    @media screen and (min-width: 768px) and (orientation: landscape)
        .menu
            width: 40vw 
            font-size: 5.5rem 
            font-weight: lighter
    @media screen and (min-width: 1024px)
        .menu
            width: 30vw
            font-size: 7rem
=articleTabletPortrait
    @media screen and (min-width: 768px) and (orientation: portrait) 
        .article
            div
                flex-basis: 40%
=articleMobileHorizontal
    @media screen and (orientation: landscape)
        .article
            div
                flex-basis: 60%
=articleTabletLandscape
    @media screen and (min-width: 768px) and (orientation: landscape)
        .article
            div
                flex-basis: 40% 
=articleDesktop
    @media screen and (min-width: 1024px)
        .article
            div
                flex-basis: 30%
                margin-bottom: 40px
           
    @media screen and (min-width: 1280px)
        .article
            max-width: 1600px
            div
                flex-basis: 26%
=asideMobileHorizontal
    @media screen and (orientation: landscape)
        .aside
            background-image: url("../img/keyboard1024landscape.jpg")
            background-size: cover
    @media screen and (orientation: landscape) and (min-width: 1024px)
        .aside
            background-image: url("../img/keyboard1920landscape.jpg")
            &__black
                font-size: 8rem
                p
                    margin-top: 40vh
=footerPortrait
    @media screen and (min-width: 768px) and (orientation: portrait)
        .footer
            min-height: 50vh
            &__socials
                margin-top: 12vh
                flex-basis: 40%
                &__img
                    margin-top: 14vh
                    display: block
            &__form
                flex-basis: 40%       
=footerLandscape 
    @media screen and (orientation: landscape)
        .footer
            &__socials
                font-size: 2.2rem    
            &__form
                flex-basis: 60%    
            &__copy
                font-size: 1.6rem
                text-align: right
                padding-right: 5vw
    @media screen and (min-width: 768px) and (orientation: landscape)
        .footer
            min-height: 50vh
            &__socials
                margin-top: 12vh
                flex-basis: 40%
                &__img
                    margin-top: 5vh
                    display: block
            &__form
                flex-basis: 40% 
            &__copy
                text-align: center 
                font-size: 2.5rem
