@mixin sentenceWord
    flex-grow: 1
    flex-basis: 45%
@mixin sentenceWordHorizontal
    flex-grow: 1
    flex-basis: 30%

=navTabletPortrait
    @media (min-width: 768px) and (orientation: portrait)
        .nav
            height: $nav-height-tablet
            font-size: 4rem
            &__title
                line-height: $nav-height-tablet

=navMobileHorizontal
    @media (orientation: landscape)
        .nav
            height: $nav-height-mobile-horizontal
            font-size: 3rem
            &__title
                line-height: $nav-height-mobile-horizontal
            &__logo
                &__img
                    margin-left: 50%
        .active .nav
            &__title
                margin-left: 2%
                transform: scale(1.2)
            
=burgerTabletPortrait
    @media (min-width: 768px) and (orientation: portrait) 
        .burger
            top: 1.5vh
            left: 1vh
            width: calc(#{$nav-height-tablet}/2 + 2vh)
            height: calc(#{$nav-height-tablet}/2)         
=burgerMobileHorizontal
    @media (orientation: landscape)
        .burger
            top: 4vh
            left: 4vh
            width: calc(#{$nav-height-mobile-horizontal}/2 + 2vh)
            height: calc(#{$nav-height-mobile-horizontal}/2)
=banerTabletPortrait
    @media (min-width: 768px) and (orientation: portrait) 
        .baner
            &__img
                @keyframes banerMove
                    0%
                        margin-top: 0
                    100%
                        margin-top: $nav-height-tablet
                        height: $baner-height-tablet
            &__sentence
                left: 50vw
                width: 45vw
                height: 45vw
                font-size: 4rem
                &__words 
                    &__word2
                        transform: translate(-50%, 82%)
                &__about
                    span
                        height: 3vh
                        width: 3vh
                        line-height: 3vh
                    span.active 
                        animation: about 0.7s .5s linear both
                        @keyframes about
                            0%
                            50%
                                opacity: 1
                            75%
                                width: 15vh
                                opacity: 1
                                border-radius: 3vh
                                font-size: 0
                            100%
                                font-size: 2rem
                                width: 15vh
                                opacity: 1
                                border-radius: 3vh
=banerMobileHorizontal
    @media (orientation: landscape)
        .baner
            &__img
                background-image: url("../img/laptop1024landscape.jpg")
                @keyframes banerMove
                    0%
                        margin-top: 0
                    100%
                        margin-top: $nav-height-mobile-horizontal
                        height: $baner-height-mobile-horizontal
            &__sentence
                left: 20vw
                top: 30vh
                height: 25vw
                &__words
                    &__word1
                        transform: translateX(-100%)
                    &__word2
                        transform: translate(2%, 58%)
                    &__word3
                        padding-right: 2%
                        transform: translateY(-100%)
                    &__word4
                        text-align: right
                        transform: translateY(100%)
                    &__word5
                        transform: translate(0, -50%)
                    &__word6
                        transform: translateX(100%)
                    div
                        @include sentenceWordHorizontal
                        
                &__about
                    span
                        height: 10vh
                        width: 10vh
                        line-height: 10vh
                        border-radius: 5vh
                        letter-spacing: 1px
                    span.active 
                        animation: about 0.7s .5s ease-out both
                        @keyframes about
                            0%
                                width: 10vh
                            50%
                                opacity: 1
                                font-size: 0
                                width: 15vh
                            75%
                                width: 20vh
                                opacity: 1
                                font-size: .8rem 
                            100%
                                font-size: 1.6rem
                                width: 20vw
                                opacity: 1
=banerTabletLandscape
    @media (min-width: 768px) and (orientation: landscape)
        .baner
            &__img
                @keyframes banerMove
                    0%
                        margin-top: 0
                    100%
                        margin-top: $nav-height-tablet-horizontal
                        height: $baner-height-tablet-horizontal
            &__sentence
                &__about
                    span
                        height: 4vh
                        width: 4vh
                        line-height: 4vh
                        border-radius: 5vh
                        letter-spacing: 1px
                    span.active 
                        animation: about 0.7s .5s ease-out both
                        @keyframes about
                            0%
                                width: 4vh
                            50%
                                opacity: 1
                                font-size: 0
                                width: 10vh
                            75%
                                width: 15vh
                                opacity: 1
                                font-size: .8rem 
                            100%
                                font-size: 1.6rem
                                width: 15vw
                                opacity: 1

=menuTabletPortrait
    @media (min-width: 760px) and (orientation: portrait) 
        .menu
            font-size: 5rem    
            &__copy
                div
                    margin: auto auto auto 20%                       
=menuMobileHorizontal
    @media (orientation: landscape)
        .menu
            font-size: 3.5rem
            &__copy
                div
                    margin: auto auto auto 20%
=articleTabletPortrait
    @media (min-width: 760px) and (orientation: portrait) 
        .article
            div
                flex-basis: 60%
=articleMobileHorizontal
    @media (orientation: landscape)
        .article
            div
                flex-basis: 60%
=articleTabletLandscape
    @media (min-width: 760px) and (orientation: landscape)
        .article
            div
                flex-basis: 30% 
=asideMobileHorizontal
    @media (orientation: landscape)
        .aside
            background-image: url("../img/keyboard1024landscape.jpg")
            background-size: contain
=footerTabletPortrait
    @media (min-width: 760px) and (orientation: portrait)
        .footer
            min-height: 50vh
            &__socials
                margin-top: 12vh
                flex-basis: 40%
                &__img
                    margin-top: 14vh
                    display: block
            &__form
                flex-basis: 40%       
=footerMobileHorizontal 
    @media (orientation: landscape)
        .footer
            &__socials
                font-size: 2.2rem    
            &__form
                flex-basis: 60%    
            &__copy
                font-size: 1.6rem
                text-align: right
                padding-right: 5vw
=footerTabletLandscape
    @media (min-width: 760px) and (orientation: landscape)
        .footer
            min-height: 50vh
            &__socials
                margin-top: 12vh
                flex-basis: 40%
                &__img
                    margin-top: 5vh
                    display: block
            &__form
                flex-basis: 40% 
            &__copy
                text-align: center 
                font-size: 2.5rem