// COLORS
$black: #000
$white: #fff
$beige1:  #f4f5f6
$beige2: #BFBBB8
$brown1: #595756
$gray: #f1ebe7
// SIZES
$font-size: 10px
$nav-height-mobile: 10vh
$nav-height-mobile_horizontal: 20vh
$nav-height-desktop: 15vh
$baner-height-mobile: calc(100vh - #{$nav-height-mobile})
$baner-height-mobile-horizontal: calc(100vh - #{$nav-height-mobile-horizontal})
$baner-height-desktop: calc(100vh - #{$nav-height-desktop})


