// COLORS
$black: #000
$white: #fff
$beige1: #f1ebe7
$beige2: #BFBBB8
$brown1: #595756
// SIZES
$font-size: 10px
$nav-height-mobile: 5vh
$nav-height-desktop: 15vh
$baner-height-mobile: calc(100vh - #{$nav-height-mobile})
$baner-height-desktop: calc(100vh - #{$nav-height-desktop})