@import 'variables'
@import 'mixins'
// Lato
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap')
// Cabin
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,700;1,400&display=swap')

html
    background-color: $black
    font-family: "Lato", sans-serif
    font-size: $font-size
body
    margin: 0
    padding: 0
    box-sizing: border-box
.sideWrap
    overflow-x: hidden
.wrap
    // general settings
    background-color: $beige1
    width: 100vw
    min-height: 200vh
    display: flex
    flex-wrap: wrap
    transform: translate(0,0)
    transition: .6s linear
    
.wrap.active
    transform: translate(100%, 1%)
@media (orientation: landscape)
    .wrap.active
        transform: translate(60%,3%)
        border-radius: 40px
@media (min-width: 760px) and (orientation: portrait) 
    .wrap.active
        transform: translate(50%,3%)
        border-radius: 40px

@import 'burger'
@import 'nav'  
@import 'menu'
@import 'baner'
@import 'article'
@import 'aside'
@import 'projects'
@import 'footer'
