@import 'variables'
@import 'mixins'

html
    background-color: $black
    width: 100vw
    min-height: 200vh
body
    margin: 0
    padding: 0
    box-sizing: border-box

@import 'baner'
@import 'article'
@import 'aside'
@import 'projects'
@import 'footer'
